.tern-port
.tern-project
.idea
.projectile
.svn
.sonar

alarms/MAIL/
alarms/RESULT/
alarms/TMP/
alarms/XML-FILES/

faults/MAIL/
faults/RESULT/
faults/TMP/
faults/XML-FILES/

pm/MAIL/
pm/RESULT/
pm/TMP/
pm/XML-FILES/
node_modules/
autoMR/PM/
autoMR/FAULTS/
autoMR/ALARMS/
